.book-list_wrap {
  min-height: 300px;
  h2 {
    text-align: center;
  }
}

.book-list {
  background-color: #333;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(4, 300px);
}

.books-list__load-more {
  background-color: black;
  padding: 50px;
  width: 100%;

  p {
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }
}

.book-list__title {
  padding: 20px;
  background-color: #333;
  text-align: center;
  color: rgba(255, 255, 255, 0.57);
  font-size: 20px;
}


@media (max-width: 1400px) {
  .book-list {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (max-width: 1000px) {
  .book-list {
    grid-template-columns: repeat(2, 300px);
    gap: 20px 50px;
  }
}

@media (max-width: 730px) {
  .book-list {
    grid-template-columns: repeat(1, 300px);
    gap: 20px 50px;
  }
}